<h2>Submission: <%= @comment.submission.title %></h2>
<%= "<h3>Parent: #{@comment.parent.message}</h3>".html_safe if @comment.parent %>

<%= simple_form_for(@comment) do |form| %>
  <%= form.hidden_field :submission_id, value: @comment.submission.id %>
  <%= form.hidden_field :parent_id, value: @comment.parent.id if @comment.parent %>

  <%= form.input :message, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
  <%= form.button :submit, class: 'btn-primary btn-sm' %>
<% end %>
