<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @comment.submission %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
