<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @submission.url %>
</p>

<p>
  <strong>Community:</strong>
  <%= @submission.community %>
</p>

<div>
  <%= link_to("Comment on this submission", controller: "comments", action: "new", comment: {submission_id: @submission.id} ) %>
</div>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
