<!doctype html>
<html lang="en">
  <head>
    <title>Demo</title>
    <link href="data:image/x-icon;base64,YourBase64StringHere" rel="icon" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Demo App</a>
      </nav>
      <%= flash_messages %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
